
<div >
<h1>Hello contact</h1>


<div class="container">

    <form id="contact_form" name="contact_form" class="contact_form">

        <input required ng-model="contact.inputName" type="text" id="inputName"  name="inputName" placeholder="nombre" class="input_name"/>
        <label class="input__label input__label--chisato" for="inputName">
            <span class="input__label-content input__label-content--chisato" data-content="Name">Name</span>
          </label>
        <span class="text-danger" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)">The name is required</span>


    </br>

        <span class="input input--chisato">

            <input required ng-model="contact.inputEmail" type="email" id="inputEmail" name="inputEmail" 
            placeholder="email" class="input__field input__field--chisato" maxlength="100" 
            ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
            <label class="input__label input__label--chisato" for="inputEmail">
              <span class="input__label-content input__label-content--chisato" data-content="Email">Email</span>
            </label>
                <span class="text-danger" ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)">The email is required</span>
                <span class="text-danger" ng-show="contact_form.inputEmail.$error.email">The email is not valid</span>
    
    
          </span>
        </br>
          <span class="input input--chisato">
            <input required ng-model="contact.inputSubject" type="text" id="inputSubject" name="inputSubject" placeholder="subject" dir="auto" maxlength="100">
            <label class="input__label input__label--chisato" for="inputSubject">
              <span class="input__label-content input__label-content--chisato" data-content="Subject">Subject</span>
            </label>
            <span class="text-danger" ng-show="contact_form.inputSubject.$error.required && (contact_form.inputSubject.$dirty || contact_form.inputSubject.$touched)">The subject is required</span>
          </span>
        </br>

          <textarea required ng-model="contact.inputMessage" class="input-block-level" rows="4" id="inputMessage" name="inputMessage" placeholder="message" style="max-width: 100%;" dir="auto"></textarea>
            <span class="text-danger" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)">The comment is required</span>

        </br>
        <input class="btn btn-primary" type="submit" name="submit" id="submitBtn" value="Send"
               ng-show="contact_form.inputName.$valid && contact_form.inputEmail.$valid && contact_form.inputSubject.$valid && contact_form.inputMessage.$valid"
               ng-click="SubmitContact()"/>
    </form>

     <!-- alertbanner -->
     <div id="alertbanner" ng-show="bannerV"><a>{{bannerText}}</a></div>
</div>
</div>

