<div>
	<div style="height: 305px">
		<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
				<img ng-src="{{slide.image}}" style="margin:auto;" height="500" width="300">
				<div class="carousel-caption">

				</div>
			</uib-slide>
		</uib-carousel>
	</div>
	<div class="row">
		<div class="col-md-6">
	
			<div class="checkbox">
				<label>
		
			</div>
		</div>

	</div>
</div>


<div class="restaurants">
	<input class="of" type="text" ng-model="filtro" placeholder="Search restaurants" />
	<div class="of" ng-repeat="of in filteredPaint| filter:filtro" id="{{of.nombre}}">
		<div ng-click="select(of.nombre)">
			<br>
		
			<hr>
			<div class="w3-card-4">
				<img src="{{of.imagen}}">
				<div class="w3-container w3-center">
					<h3><strong>Nombre:  </strong>{{of.nombre}}</h3>
					<h4><strong>Provincia:  </strong>{{of.provincia}}</h4>
					<h4><strong>Ciutat:  </strong>{{of.ciudad}}</h4>
					<h5><strong>Calidad:  </strong>{{of.calidad}}</h5>
					<h6><strong>Descripción:  </strong>{{of.descripcion}}</h6>
					<div class="w3-container">
						<button class="boton_test"><a class="w3-btn w3-black" href='#/home/{{of.nombre}}'>Ver más</a></button>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div id="pager">
		<uib-pagination class="of" total-items="filteredRestaurants.length" ng-model="currentPage" ng-change="pageChanged()" items-per-page=3></uib-pagination>
	</div>

</div>