<div id="contenido" class="of">
	<br>
	<button ng-click="showMap()" id="btnShowMap" name="btnShowMap">Ver resultados en el mapa</button>

	<div class="w3-card-4">
		<img src="{{data.imagen}}" alt="Alps">
		<div class="w3-container w3-center">
			<h3><strong>Nombre: </strong>{{data.nombre}}</h3>
			<h4><strong>Provincia: </strong>{{data.provincia}}</h4>
			<h4><strong>Ciutat: </strong>{{data.ciudad}}</h4>
			<h5><strong>Calidad: </strong>{{data.calidad}}</h5>
			<h6><strong>Descripción: </strong>{{data.descripcion}}</h6>
			<h6 ng-show="rating" style="padding-right: 700px">
				<div class="rate">
					<input ng-model="rate" ng-change="rateChange()" type="radio" id="star5" name="rate" value="5" />
					<label ng-model="rate" ng-change="rateChange()" for="star5" title="text">5 stars</label>
					<input ng-model="rate" ng-change="rateChange()" type="radio" id="star4" name="rate" value="4" />
					<label ng-model="rate" ng-change="rateChange()" for="star4" title="text">4 stars</label>
					<input ng-model="rate" ng-change="rateChange()" type="radio" id="star3" name="rate" value="3" />
					<label ng-model="rate" ng-change="rateChange()" for="star3" title="text">3 stars</label>
					<input ng-model="rate" ng-change="rateChange()" type="radio" id="star2" name="rate" value="2" />
					<label ng-model="rate" ng-change="rateChange()" for="star2" title="text">2 stars</label>
					<input ng-model="rate" ng-change="rateChange()" type="radio" id="star1" name="rate" value="1" />
					<label ng-model="rate" ng-change="rateChange()" for="star1" title="text">1 star</label>
				</div>
			</h6>
			<div>Otras valoraciones de usuarios:</div>
			<div class="w3-container">
			</div>
		</div>
	</div>
</div>

<div class="of" ng-repeat="of in filteredPaint" id="{{of.user}}">
	<div ng-click="select(of.user)">
		<!--<div class="listImage" align="left"><img src="{{of.img}}" height="200" width="300" align="left" style="padding: 1em;" /></div>-->
		<br>
		<!-- <div class="name">{{of.nombre}}</div>
			<div class="ciudad">City: {{of.ciudad}}</div>
			<div class="provincia"> Province: {{of.provincia}}</div>
			<div class="price"> <h5>Price: {{of.calidad}} €</h5></div>
			<div class="details" ><a href='#/home/{{of.nombre}}'>Ver más</a></div>
			<div class="details" ><a href='#/shop'>comprar</a></div> -->
		<hr>
		<div class="w3-card-4">
			<div class="w3-container w3-center">
				<h6><strong>Usuario:  </strong>{{of.usuario}}</h6>
				<h6><strong>Estrellas:  </strong>{{of.rate}}</h6>
				<h6><strong>Restaurante:  </strong>{{of.restaurante}}</h6>



				<div class="w3-container">
				</div>
			</div>
		</div>
	</div>

</div>
</div>
<div id='ubicacion'></div>
<!-- Se escribe un mapa con la localizacion anterior-->
<div id="demo">{{demo}}</div>
<div id="mapholder" align="center" ng-show="mapholderV"></div>
<div id="map"></div>