<div id="content_register">

    <h3>Reservar en : {{id}}</h3>
    <form id="reserve_form" name="reserve_form">
        <table>
            <tr>
                <td>Nombre: </td>
                <td>
                    <input required type="text" name="inputUser" id="inputUser" ng-model="reserve.inputUser"
                        placeholder="Nombre" ng-minlength="3" ng-maxlength="20" />
                    <span class="text-danger"
                        ng-show="reserve_form.inputUser.$error.required && (reserve_form.inputUser.$dirty || reserve_form.inputUser.$touched)">Introduzca
                        un nombre</span>
                    <span class="text-danger" ng-show="reserve_form.inputUser.$error.minlength">Introduzca mas de 3
                        caracteres</span>
                    <span class="text-danger" ng-show="reserve_form.inputUser.$error.maxlength">Introduzca menos de 20
                        caracteres</span>
                </td>
            </tr>
            <tr>
                <td>Correo electronico: </td>
                <td>
                    <input required type="email" name="inputEmail" id="inputEmail" ng-model="reserve.inputEmail"
                        placeholder="Correo electronico" />
                    <span class="text-danger"
                        ng-show="reserve_form.inputEmail.$error.required && (reserve_form.inputEmail.$dirty || reserve_form.inputEmail.$touched)">Introduzca
                        un correo electroncico</span>
                    <span class="text-danger" ng-show="reserve_form.inputEmail.$error.email">Email no valido</span>
                </td>
            </tr>

            <tr>
                <td>Fecha Reserva: </td>
                <td>
                    <md-datepicker name="dateR" id="dateR" md-placeholder="Enter date" ng-model="reserve.dateR">
                    </md-datepicker>
                    <span class="error" ng-show="reserve_form.dateR.$error.required">
                        Porfavor selecciona una Fecha!</span>

                    <!-- <input required type="text" name="inputreserva" id="inputreserva" ng-model="reserve.dateR" datepickerp="" placeholder="Fecha de reserva"/> -->
                </td>
            </tr>

            <tr>
                <td>Hora de reserva</td>
                <td>

                    <input type="time" id="inputHour" name="inputHour" ng-model="reserve.inputHour" placeholder="HH:mm"
                        min="13:00" max="24:00" required />
                    <span class="error" ng-show="reserve_form.inputHour.$error.required">
                        Porfavor selecciona una hora!</span>
                    <span class="error" ng-show="reserve_form.inputHour.$error.time">
                        Hora incorrecta , porfavor selecciona una hora entre las 13:00 y las 24:00</span>
                </td>

                            
                <!-- <div ng-model="reserve.realDate" id="realDate" name="realDate" value='{{reserve.inputHour | date: "HH:mm:ss"}}' >{{reserve.inputHour | date: "HH:mm:ss"}}</div> -->
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" id="sendReserve" name="sendReserve" value="Reserve"
                        ng-show="reserve_form.inputUser.$valid && reserve_form.inputEmail.$valid && reserve_form.dateR.$valid && reserve_form.inputHour.$valid "
                        ng-click="submitReserve()" />
                </td>
            </tr>
        </table>
    </form>
</div>