<div id="content_home" style="text-align: center;">
    <div class="restaurants">
        <input type="text" ng-model="filtro" placeholder="Search restaurants" />
        <div class="of" ng-repeat="of in filteredPaint| filter:filtro" id="{{of.nombre}}">
            <div ng-click="select(of.nombre)">
                <!--<div class="listImage" align="left"><img src="{{of.img}}" height="200" width="300" align="left" style="padding: 1em;" /></div>-->
                <br>
                <!-- <div class="name">{{of.nombre}}</div>
			<div class="ciudad">City: {{of.ciudad}}</div>
			<div class="provincia"> Province: {{of.provincia}}</div>
			<div class="price"> <h5>Price: {{of.calidad}} €</h5></div>
			<div class="details" ><a href='#/home/{{of.nombre}}'>Ver más</a></div>
			<div class="details" ><a href='#/shop'>comprar</a></div> -->
                <hr>
                <div class="w3-card-4">
                    <img src="{{of.imagen}}">
                    <div class="w3-container w3-center">
                        <h3><strong>Nombre:  </strong>{{of.nombre}}</h3>
                        <h4><strong>Provincia:  </strong>{{of.provincia}}</h4>
                        <h4><strong>Ciutat:  </strong>{{of.ciudad}}</h4>
                        <h5><strong>Calidad:  </strong>{{of.calidad}}</h5>
                        <h6><strong>Descripción:  </strong>{{of.descripcion}}</h6>
                        <div class="w3-container">
                            <button class="boton_test"><a class="w3-btn w3-black" href='#/home/{{of.nombre}}'>Ver más</a></button>
                            <button class="boton_test"><a class="w3-btn w3-black" href='#/shop/{{of.nombre}}'>Reservar</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>



        <button id="click_scroll" ng-click="showMore()" style="text-align: center; display: inline-block;">Mostrar más</button>


    </div>