<h1>Profile</h1>

<div id="content_profile_img">
	<div id='img_profile'><img ng-src='{{avatar}}' ng-click="openDrop(userInfo.IDuser)"></div>
</div>
<button ng-click="showSprof()">Mostrar perfil</button>
<button ng-click="showEprof()">Editar perfil</button>
<button ng-click="showCprof()">Mis reservas</button>



<div id='content_info_user' ng-show="sprofV">
	<span>Usuario: {{userInfo.nombre}}</span><br/>
	<span>Email: {{userInfo.email}}</span><br/>
	<span>Nombre: {{userInfo.nombre}}</span><br/>

</div>

<form id="profile_form" name="profile_form" class="form-perfil" ng-show="eprofV">
	<br />
	<div id="contenido" class="align-center">
		<div class="control-group">
			<br>
			<h1 class="form-profile-heading" id="username">{{user.usuario}}</h1>
		</div>
		<div class="control-group">
			<label class="nombre pefil">Nombre:</label>
			<p>
				<input type="text" required id="inputName" ng-model="user.nombre" name="inputName" placeholder="Nombre" ng-pattern="/^\D{3,30}$/" class="form-control" dir="auto" ng-minlength="2" maxlength="100" ng-change="change_profile()">
				<span class='error' ng-show="!profile_form.inputName.$valid && profile_form.inputName.$error.required && (profile_form.inputName.$dirty || profile_form.inputName.$touched)">Nombre no válido</span>
				<span class="text-danger" ng-show="profile_form.inputName.$error.pattern">Nombre no válido</span><br />
				<span class="text-danger" ng-show="AlertMessage" ng-model="user.nombre_error">{{user.nombre_error}}</span>
			</p>
		</div>

		<div class="control-group">
			<label class="email pefil">Email:</label>
			<p>Correo electronico:</p>

			<input type='text' value='{{userInfo.email}}' readonly='' />

		</div>
		<br>

		<br>
		<div class="control-group">
			<label class="pefil">Provincia:</label>
			<p>
				<select required name="provincia" id="provincia" ng-options="item.nombre for item in provinces" ng-model="profile_form.selectProvincia" placeholder="Provincia" ng-change="changeProv()" ng-attrsize="5">
				  <option value="" ng-show="showProv">Seleccione una provincia</option>
			  </select>
				<span class="text-danger" ng-show="AlertMessage" ng-model="user.prov_error">{{user.prov_error}}</span>
			</p>
		</div>
		<br>
		<div class="control-group">
			<label class="pefil">Poblacion:</label>
			<p>
				<select required name="city" ng-model="profile_form.selectCity" ng-options="item.poblacion for item in city" placeholder="Ciudad" id="poblacion" ng-disabled="selectProvincia.nombre > 0 ">
				  <option value="" ng-show="showCity">Seleccione una ciudad</option>
			  </select>
				<span class="text-danger" ng-show="AlertMessage" ng-model="user.pob_error">{{user.pob_error}}</span>
			</p>
		</div>
		<br>

	


		<div class="msg"></div>
		<br/>
		<button ng-model="dropzoneConfig" id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>

		<p>
			<input class="submit_user" type="button" ng-click="submit()" name="submit" id="submitBtn_user" value="Guardar" ng-show="profile_form.inputName.$valid" />
		</p>
	</div>
</form>
</div>
<div id='content_info_user' ng-show="cprofileV">
	<div id="content_home" style="text-align: center;">
		<div class="restaurants">
			<input type="text" ng-model="filtro" placeholder="Search restaurants" />
			<div class="of" ng-repeat="of in filteredPaint| filter:filtro" id="{{of.nombre}}">
				<div ng-click="select(of.nombre)">
					<!--<div class="listImage" align="left"><img src="{{of.img}}" height="200" width="300" align="left" style="padding: 1em;" /></div>-->
					<br>
				
					<hr>
					<div class="w3-card-4">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbUNeVp3QR1YpX-GmlyVjP06F1MOpFT21imLlKscX-vwS-4kNw">
						<div class="w3-container w3-center">
							<h3><strong>User_id:  </strong>{{of.propietario}}</h3>
							<h4><strong>Nombre de la reserva:  </strong>{{of.a_nombre_de}}</h4>
							<h4><strong>Restaurante:  </strong>{{of.restaurante}}</h4>
							<h4><strong>Dia:  </strong>{{of.fecha}}</h4>
							<h5><strong>hora:  </strong>{{of.hora}}</h5>
							<button class="boton_test"><a class="w3-btn w3-black" href='#/home/{{of.restaurante}}'>Ver más</a></button>

						</div>
					</div>
				</div>
			</div>
		</div>

		<br><br>



		<button id="click_scroll" ng-click="showMore()" style="text-align: center; display: inline-block;">Mostrar más</button>


	</div>

</div>