<!-- Navigation -->

<!-- menu principal pintat dinàmicament-->
<nav class="navbar navbar-expand-lg navbar-light fixed-left" id="mainNav">
<div class="container">
 
  
  <div class="collapse navbar-collapse" id="navbarResponsive" ng-controller="menuCtrl">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" >
        <a class="btn btn-primary" href="#/" >Inicio</a>
      </li>
    
      <li class="nav-item" >
        <a class="btn btn-primary" href="#/contacto" >Contact</a>
      </li>
    
      <li class="nav-item" >
        <a class="btn btn-primary" href="#/login" ng-show="loginV" >Iniciar sesion</a>
      </li>
      <li class="nav-item" >
        <a class="btn btn-primary" href="#/shop" ng-show="shopV" >Reservas</a>
      </li>

    </hr>
      <li class="nav-item" >
        <a class="btn btn-primary" href="#/login/profile" ng-show="profileV" >Profile</a>
      </li>
      <li class="nav-item" >
          <a class="btn btn-primary" href="#/login/recover"  ng-show="recoverV" >Recover password</a>

        <!--        <a class="btn btn-primary" href="#/login/recover" ng-show="recoverV" >Recover password</a>
-->
      </li>
      <li class="nav-item" >
        <a class="btn btn-primary" href="#/login:logout" ng-show="logoutV" >Cerrar sesion</a>
      </li>
      <li class="nav-item" >
        <a class="btn btn-primary" href="#/crud" ng-show="crudV" >CRUD</a>
      </li>
     
      
      <div id="print_menu"></div>
      
    </ul>
  </div>
</div>
</nav>


<!-- Page Header -->

