<form id="crud_form" name="crud_form" class="form-perfil" style="align-self: center">
    <button ng-click="showCprof()">Crear</button>
    <button ng-click="showEprof()">Update</button>
    <button ng-click="showDprof()">Delete</button>

    <br />
    <div id="contenido" class="align-center" ng-show="Cprov">
        <div class="control-group">
            <br>
            <h1 class="form-profile-heading" id="username">{{user.usuario}}</h1>
        </div>
        <div class="control-group">
            <label class="nombre pefil">Nombre:</label>
            <p>
                <input type="text" required id="inputName" ng-model="user.nombre" name="inputName" placeholder="Nombre"
                    ng-pattern="/^\D{3,30}$/" class="form-control" dir="auto" ng-minlength="2" maxlength="100"
                    ng-change="change_profile()">
                <span class='error'
                    ng-show="!crud_form.inputName.$valid && crud_form.inputName.$error.required && (crud_form.inputName.$dirty || crud_form.inputName.$touched)">Nombre
                    no válido</span>
                <span class="text-danger" ng-show="crud_form.inputName.$error.pattern">Nombre no válido</span><br />
                <span class="text-danger" ng-show="AlertMessage"
                    ng-model="user.nombre_error">{{user.nombre_error}}</span>
            </p>
        </div>


        <br>

        <br>
        <div class="control-group">
            <label class="pefil">Provincia:</label>
            <p>
                <select required name="provincia" id="provincia" ng-options="item.nombre for item in provinces"
                    ng-model="crud_form.selectProvincia" placeholder="Provincia" ng-change="changeProv()"
                    ng-attrsize="5">
                    <option value="" ng-show="showProv">Seleccione una provincia</option>
                </select>
                <span class="text-danger" ng-show="AlertMessage" ng-model="user.prov_error">{{user.prov_error}}</span>
            </p>
        </div>
        <br>
        <div class="control-group">
            <label class="pefil">Poblacion:</label>
            <p>
                <select required name="city" ng-model="crud_form.selectCity"
                    ng-options="item.poblacion for item in city" placeholder="Ciudad" id="poblacion"
                    ng-disabled="selectProvincia.nombre > 0 ">
                    <option value="" ng-show="showCity">Seleccione una ciudad</option>
                </select>
                <span class="text-danger" ng-show="AlertMessage" ng-model="user.pob_error">{{user.pob_error}}</span>
            </p>
        </div>
        <br>

    


        <div class="msg"></div>
        <br />
        <button ng-model="dropzoneConfig" id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>


        <div class="control-group">
            <label class="latitud pefil">latitud:</label>
            <p>
                <input type="text" required id="inputLat" ng-model="crud_form.lat" name="inputLat" placeholder="latitud"
                    class="form-control" dir="auto" ng-minlength="2" maxlength="100">


            </p>
        </div>
        <div class="control-group">
            <label class="Longitud pefil">Longitud:</label>
            <p>
                <input type="text" required id="inputLong" ng-model="crud_form.long" name="inputLong"
                    placeholder="Longitud" class="form-control" dir="auto" ng-minlength="2" maxlength="100">


            </p>
        </div>
        <div class="control-group">
            <label class="calidad pefil">calidad:</label>
            <p>
                <input type="text" required id="inputCal" ng-model="crud_form.cal" name="inputCal" placeholder="calidad"
                    class="form-control" dir="auto" ng-minlength="2" maxlength="100">


            </p>
        </div>
        <div class="control-group">
            <label class="descr pefil">Descripción:</label>
            <p>
                <input type="text" required id="inputDescr" ng-model="crud_form.Descr" name="inputDescr"
                    placeholder="Descripción" class="form-control" dir="auto" ng-minlength="2" maxlength="100">


            </p>
        </div>
        <p>
            <input class="submit_user" type="button" ng-click="submit()" name="submit" id="submitBtn_user"
                value="Guardar"
                ng-show="crud_form.inputName.$valid && crud_form.inputLat.$valid && crud_form.inputLong.$valid && crud_form.inputCal.$valid && crud_form.inputDescr.$valid" />
        </p>
    </div>

</form>
<form id="crud_form_u" name="crud_form_u" class="form-perfil" style="align-self: center">


    <div id="contenido" class="align-center" ng-show="Uprov">

        <div class="control-group">
            <div class="control-group">
                <label class="pefil">Restaurante:</label>
                <p>
                    <select required name="restaurante" id="restaurante" ng-options="item for item in restaurante"
                        ng-model="crud_form_u.selectedRestaurant" placeholder="restaurante">
                        <option value="" ng-show="">Selecciona un restaurante</option>
                    </select>
                </p>
            </div>

            <br>

            <br>
            <div class="control-group">
                <label class="pefil">Provincia:</label>
                <p>
                    <select required name="provincia" id="provincia" ng-options="item.nombre for item in provinces"
                        ng-model="crud_form_u.selectProvincia" placeholder="Provincia" ng-change="changeProvU()"
                        ng-attrsize="5">
                        <option value="" ng-show="showProv">Seleccione una provincia</option>
                    </select>
                    <span class="text-danger" ng-show="AlertMessage"
                        ng-model="user.prov_error">{{user.prov_error}}</span>
                </p>
            </div>
            <br>
            <div class="control-group">
                <label class="pefil">Poblacion:</label>
                <p>
                    <select required name="city" ng-model="crud_form_u.selectCity"
                        ng-options="item.poblacion for item in city" placeholder="Ciudad" id="poblacion"
                        ng-disabled="selectProvincia.nombre > 0 ">
                        <option value="" ng-show="showCity">Seleccione una ciudad</option>
                    </select>
                    <span class="text-danger" ng-show="AlertMessage" ng-model="user.pob_error">{{user.pob_error}}</span>
                </p>
            </div>
            <br>

         


            <div class="msg"></div>
            <br />
            <button ng-model="dropzoneConfig" id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>


            <div class="control-group">
                <label class="latitud pefil">latitud:</label>
                <p>
                    <input type="text" required id="inputLatU" ng-model="crud_form_u.lat" name="inputLatU"
                        placeholder="latitud" class="form-control" dir="auto" ng-minlength="2" maxlength="100">


                </p>
            </div>
            <div class="control-group">
                <label class="Longitud pefil">Longitud:</label>
                <p>
                    <input type="text" required id="inputLongU" ng-model="crud_form_u.long" name="inputLongU"
                        placeholder="Longitud" class="form-control" dir="auto" ng-minlength="2" maxlength="100">


                </p>
            </div>
            <div class="control-group">
                <label class="calidad pefil">calidad:</label>
                <p>
                    <input type="text" required id="inputCalU" ng-model="crud_form_u.cal" name="inputCalU"
                        placeholder="calidad" class="form-control" dir="auto" ng-minlength="2" maxlength="100">


                </p>
            </div>
            <div class="control-group">
                <label class="descr pefil">Descripción:</label>
                <p>
                    <input type="text" required id="inputDescrU" ng-model="crud_form_u.Descr" name="inputDescrU"
                        placeholder="Descripción" class="form-control" dir="auto" ng-minlength="2" maxlength="100">


                </p>
            </div>
            <p>
                <input class="submit_user" type="button" ng-click="submitU()" name="submi2t" id="submitBtn_update"
                    value="Guardar"
                    ng-show="crud_form_u.restaurante.$valid && crud_form_u.inputLatU.$valid && crud_form_u.inputLongU.$valid && crud_form_u.inputCalU.$valid && crud_form_u.inputDescrU.$valid" />
            </p>
        </div>
    </div>
</form>

<form id="crud_form_d" name="crud_form_d" class="form-perfil" style="align-self: center" ng-show="Dprov">
    <div class="control-group">
        <label class="pefil">Restaurante:</label>
        <p>
            <select required name="restaurante" id="restaurante" ng-options="item for item in restaurante"
                ng-model="crud_form_d.selectedRestaurant" placeholder="restaurante">
                <option value="" ng-show="">Selecciona un restaurante</option>
            </select>
        </p>
    </div>
    <p>
        <input class="submit_user" type="button" ng-click="submitD()" name="submitD" id="submitBtn_delete"
            value="Borrar"
            ng-show="crud_form_d.restaurante.$valid" />
    </p>
</div>
    </div>
</form>